body
{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.home
{

    height: 100vh;
    width: 100vw;
}
.navbar
{
    background-color: rgba(0, 0, 0, 0.493);
    color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 45px;
} 
.name{
    font-size: 20px;
    font-weight: lighter;
    padding-left: 10px;
}
.navbar a
{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover
{
    background: #11cfc6;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}
.navbar a:active
{
    background-color: white;
    color: black;
}
.greetings
{
    background-image: url("../images/Home_landing.jpg");
    background-position: center;
    background-size:cover; 
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    overflow: hidden;
}
.greetings h2
{
    font-size: 50px;
    margin: 0;
    color: yellow;
    margin-left: 5rem;
}
.greetings a
{
    font-size: 25px;
    text-decoration: none;
    background-color: green;
    border-radius: 15px;
    color: white;
    padding: .5em;
    margin-top: 10px;
    margin-left: 5rem;
}
.greetings a:hover{
    background: #11cfc6;
    color: black;
}
.greetings a:active{
    background: #11cfc6;
    color: black;
}
.about
{
    background: linear-gradient(to bottom,#003352,#001324);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.abt_banner
{
    width: 30%;
    background: #dcddd5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0);
    padding: 13px;
    gap: 5px;
    border-radius: 10px;
}
.abt_banner p{
    text-align: center;
}
.abt_banner a
{
    font-size: 25px;
    text-decoration: none;
    background-color: green;
    border-radius: 15px;
    color: white;
    padding: 10px;
}
.abt_banner a:hover{
    background: #11cfc6;
    color: black;
}
.abt_banner h2{
    color: rgb(0, 174, 255);
}
.abt_banner img{
    border: 1px solid black;
}
.edu
{
    background: linear-gradient(to bottom,#003352,#001324);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edu_container{
    width: 90%;
    height: 80%;
    background: #dcddd5;
}
.edu h2
{
    color: rgb(0, 174, 255);
    padding: 2em;
    text-align: center;
    margin-top: 0;
}
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.clg
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    background-color: rgb(0,0,0,0.5);
    color: white;
    border: 1px solid rgb(165, 161, 161);
}
.school
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    background-color: rgb(0,0,0,0.5);
    border: 1px solid rgb(147, 140, 140);
    color: white;
}
.edu p
{
   padding: 13px;
}
.Skills
{
    background: linear-gradient(to bottom,#003352,#001324);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-container{
    width: 85%;
    height: 90%;
    background: #dcddd5;
    position: relative;
    display: flex;
    flex-direction: column;
}
.Skills h2
{
    padding-top: 1rem;
    margin-top: 0;
    text-align: center;
    color: rgb(0, 174, 255);
}
.Skills img
{
   width: 13rem;
   height: 14rem;
}
.tech
{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 85%;
    display: grid;
    place-items: center;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    gap: 3rem;
    padding: 20px;
}
.project
{
    background: linear-gradient(to bottom,#003352,#001324);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pro{
    width: 93%;
    height: 85%;
    background: #dcddd5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.project h2
{
    justify-self: flex-start;
    top: 0;
    margin-top: 0;
    text-align: center;
    color: rgb(0, 174, 255);
}
.contact-me img{
    width: 25rem;
    height: 15rem;
}
.todo, .url, .contact-me{
    width: 26rem;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.todo, .contact-me, .url{
    padding-top: 10px;
}
.todo img
{
    width: 25rem;
    height: 15rem;
}
.url img
{
    width: 25rem;
    height: 15rem;
}
.todo p, .url p, .contact-me p{
    text-align: center;
}
.todo:hover, .url:hover, .contact-me:hover{
    box-shadow: 7px 7px 8px 5px rgb(137, 141, 141);
     cursor: pointer; 
}
.contact
{
    /* background: linear-gradient(to right,grey,black); */
    background: linear-gradient(to bottom,#003352,#001324);
    height: 100vh;
    width: 100vw;
    position: relative;
}
.contact h2
{
    text-align: center;
    color: rgb(0, 174, 255);
}
.form-container
{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 25rem;
   background: #00000013;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 50%;
   border-radius: 10px;
   background: #dcddd5;
   gap: 1.5rem;
}
.form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 18rem;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #afacac;
    font-size: 16px;
    background: white;
  }

  .form-group textarea {
    resize: vertical;
  }

  .form-group button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .form-group button:hover {
    background-color: #0056b3;
  }